html{
  font-size: 62.5%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.slick-track{
  display: flex !important;
}
.GStories .slick-slider .slick-list .slick-track .slick-slide{
  margin-right: 7.8rem;
}
.Modular .slick-slider .slick-list .slick-track .slick-slide{
  margin-right: 2.3rem;

}