html{
  font-size: 62.5%;
  overflow-x: hidden;
}
@font-face {
  font-family: grenette pro;
  src: url("./Fonts/grenette/grenette-light-pro.ttf");
}
@font-face {
  font-family: grenette pro sm;
  src: url("./Fonts/geograph-medium/Geograph-Medium.ttf");
}
@font-face {
  font-family: geographm;
  src: url("./Fonts/geograph-medium/Geograph-Medium.ttf");
}
@font-face {
  font-family: geographr;
  src: url("./Fonts/geograph-regular/Geograph-Regular.ttf");
}
@font-face {
  font-family: atlasr;
  src: url("./Fonts/atlas-grotesk-regular/AtlasGrotesk-Regular.ttf");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Grenette Pro";
}
body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.slick-track{
  display: flex !important;
}
.geographr{
  font-family: "geographr";
}
.geographm{
  font-family: "geographm";
}
.grennetesm{
  font-family:" grenette pro sm";

}
.slick-next {
  right: 0;
}

.Review .slick-slider .slick-list .slick-track .slick-slide:nth-child(1) {
  margin-right: 0;
}
.Review .slick-slider .slick-list .slick-track .slick-slide {
  height:  81.6rem !important;
  width: auto !important;

}
.GStories .slick-slider .slick-list .slick-track .slick-slide{
  margin-right: 7.8rem;
  /* margin-right: 2.3rem; */
  /* width: 49.5rem !important; */

}
.Modular .slick-slider .slick-list .slick-track .slick-slide{
  margin-right: 2.3rem;
  width: auto !important;
  
}
/* .reviews .slick-slider{
height: 100%;
} */
.reviews{
  display: flex !important;
}
.reviews div{
  background-position: center;
  background-size: cover;
}
.atlasr{
  font-family:"atlasr";
}