@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* --------------MAIN SECTION STARTS----------------- */
.mainSection {
  height: 1141px;
  background: url("./Img/main.png");
  background-size: cover;
  background-position: center;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 108px;
  border: 1px solid #ffffff1f;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
header nav .logo {
  position: relative;
  left: 136px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 147px;
}
header nav ul li {
  list-style: none;
  margin-left: 57px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}
header nav ul .langauge {
  margin-left: 50px;
}

header nav ul li a i {
  font-size: 13px;
  margin-left: 5px;
}
.mainSection .main {
  height: calc(99vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainSection .main h2 {
  font-weight: 900;
  font-size: 80px;
  text-transform: capitalize;
  color: white;
  text-align: center;
  line-height: 93.92px;
}
.mainSection .main p {
  width: 933px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.mainSection .main hr {
  width: 108px;
  height: 2px;
  background: white;
  color: white;
  margin-top: 18px;
  margin-bottom: 28px;
}

/* --------------MAIN SECTION ENDS----------- */

/* ----------------ABOUT SECTION STARTS------------ */
.about {
  margin-top: 160px;
}
.about .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  padding: 0 140px;
}
.about .row .r1 {
  margin-top: 105px;
}
.about .row .r1 h2 {
  font-size: 60px;
  font-style: normal;
  margin-bottom: 30px;
  line-height: 70px;
}
.about .row .r1 p {
  font-size: 20px;
  color: #000000;
  opacity: 0.8;
  width: 815px;
  line-height: 35px;
}
.about .row .r2 {
}
.about .row .r2 img {
  width: 703px;
  height: 719px;
}

/* -------------ABOUT SECTION ENDS----------- */

/* -----------------EXPERTISE SECTION STARTS------------------ */
.expertise {
}
.expertise .row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 72px;
  position: relative;
  top: -13px;
}
.expertise .row .r1 {
}
.expertise .row .r2 h2 {
  font-size: 60px;
  margin-bottom: 20px;
  text-align: center;
}
.expertise .row .r2 p {
  font-size: 20px;
  text-align: center;
  opacity: 0.8;
  line-height: 35px;
  width: 720px;
}
.expertise .row .r2 {
  margin-top: 139px;
  margin-left: 39px;
}
.expertise .row .r2 img {
}

.expertise .imgs div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-style: normal;
  flex-direction: column;
  text-align: center;
}

.expertise .imgs div p {
  display: none;
  /* visibility: hidden; */
  font-size: 20px;
  width: 522px;
  transition: 0.3s all ease-in-out;
  margin-top: 10px;
}
.expertise .mainDiv {
  background: url("./Img/expBackground.png");
  mix-blend-mode: darken;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 1110px;
  position: relative;
  top: -206px;
  margin-bottom: -206px;
}
.expertise .mainDiv .gradient {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.expertise .imgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertise .imgs .r1 {
  background: url("./Img/exp1.png");

  position: relative;
  left: -44px;
  background-size: cover;
  background-position: center;
  transition: 0.2s all ease-in-out;
  border: 20px solid #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 60px;
  transform: rotate(44deg);
  z-index: 1;
  top: -68px;
}

.expertise .imgs .r2 {
  background: url("./Img/exp2.png");
  background-size: cover;
  background-position: center;
  position: relative;
  top: -68px;
  transition: 0.2s all ease-in-out;
  border: 20px solid #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 60px;
  transform: rotate(45deg);
}

.expertise .imgs div {
  width: 353px;
  height: 353px;
}
.expertise .imgs div h3,
.expertise .imgs div p {
  transform: rotate(-45deg);
}
.expertise .imgs div h3,
.expertise .imgs div:hover p {
  display: flex;
}

.expertise .imgs .r3 {
  background: url("./Img/exp3.png");
  background-size: cover;
  background-position: center;
  z-index: 1;

  top: -68px;
  position: relative;
  right: -44px;
  transition: 0.2s all ease-in-out;
  border: 20px solid #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 60px;
  transform: rotate(45deg);
}
.expertise .imgs div:hover {
  width: 651px;
  height: 651px;
  margin-bottom: 22px;
  margin-right: 22px;
  top: 7px;
}
.expertise .mainDiv .gradient .slidingbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
.expertise .mainDiv .gradient .slidingbtn img {
}
.expertise .mainDiv .gradient .slidingbtn .centerbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 40px;
}
.expertise .mainDiv .gradient .slidingbtn .centerbtn .circle {
  width: 20px;
  height: 20px;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 50px;
  margin-left: 15px;
}
.expertise .mainDiv .gradient .slidingbtn .centerbtn .circle:nth-child(1) {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50px;
  opacity: 1;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expertise .mainDiv .gradient .slidingbtn .centerbtn .circle:nth-child(1) div {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50px;
}

/* -------------EXPERTISE SECTION ENDS-------------- */

/* -----------------CAPITAL STRUCTURE SECTION STARTS---------------     */
.cpstructure {
  background: url("./Img/curve.png");
  height: 1192px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 120px;
  background-repeat: no-repeat;
  background-position: bottom;
}
.cpstructure .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.cpstructure .row .r1 {
  margin-left: 140px;
  margin-top: 233px;
}
.cpstructure .row .r1 h2 {
  font-size: 60px;
  margin-bottom: 30px;
  line-height: 70px;
}
.cpstructure .row .r1 p {
  font-size: 20px;
  opacity: 0.8;
  width: 644px;
  line-height: 35px;
}
.cpstructure .row .r2 {
  margin-right: 131px;
}
.cpstructure .row .r2 .imgr1 {
  display: flex;
}
.cpstructure .row .r2 div .img {
  margin: 11px;
  font-size: 25px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  transition: 0.2s all ease-in-out;
}
.cpstructure .row .r2 .imgr1 .img:nth-child(1) {
  background: url("./Img/cpstructure1.png");
  background-size: cover;
  width: 532px;
  height: 378px;
}
.cpstructure .row .r2 div .img:hover .paragraph {
  display: flex;
}
.cpstructure .row .r2 div .img .paragraph {
  display: none;
}
.cpstructure .row .r2 .imgr1 .img:nth-child(1):hover {
  /* background: url("./Img/cpstructure1.png"); */
  background: url("./Img/cpstructure1.png") rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-blend-mode: darken;
  justify-content: center;
}
.cpstructure .row .r2 .imgr1 .img:nth-child(2):hover {
  background: url("./Img/cpstructure2.png") rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-blend-mode: darken;
  justify-content: center;
}
.cpstructure .row .r2 .imgr2 .img:nth-child(1):hover {
  background: url("./Img/cpstructure3.png") rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-blend-mode: darken;
  justify-content: center;
}
.cpstructure .row .r2 .imgr2 .img:nth-child(2):hover {
  background: url("./Img/cpstructure4.png") rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-blend-mode: darken;
  justify-content: center;
}
.cpstructure .row .r2 .imgr1 .img:nth-child(2) {
  background: url("./Img/cpstructure2.png");
  background-size: cover;
  width: 359px;
  margin: 11px;
}
.cpstructure .row .r2 .imgr2 .img:nth-child(1) {
  background: url("./Img/cpstructure3.png");
  background-size: cover;
  width: 359px;
  height: 378px;
}
.cpstructure .row .r2 .imgr2 .img:nth-child(2) {
  background: url("./Img/cpstructure4.png");
  background-size: cover;
  width: 532px;
  height: 378px;
}
.cpstructure .row .r2 .imgr1 .img .paragraph,
.cpstructure .row .r2 .imgr2 .img .paragraph {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  padding-top: 20px;
  width: 320px;
}
.cpstructure .row .r2 .imgr2 {
  display: flex;
}
.cpstructure .row .r2 .imgr2 img {
  margin: 11px;
}

/* ---------CAPITAL STRUCTURE SECTION ENDS------------- */

/* ----------------PEOPLES SECTION STARTS-------------- */
.peoples {
  height: 1020px;
  width: 100%;
  background: url("./Img/ppgradient.png");
  background-size: cover;
  background-position: bottom;
  position: relative;
  top: -329px;
  margin-bottom: -329px;
}
.peoples .gradient {
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.peoples .gradient .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 356px;
  position: relative;
  left: 35px;
}
.peoples .gradient .content h2 {
  font-size: 60px;
  text-align: center;
  color: white;
  z-index: 100;
  position: relative;
  margin-bottom: 20px;
}
.peoples .gradient .content p {
  font-size: 20px;
  color: white;
  width: 720px;
  line-height: 35px;
  text-align: center;
  opacity: 0.8;
}
.peoples .gradient .content .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 51px;
  position: relative;
  right: 36px;
}
.peoples .gradient .content .row .r1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.peoples .gradient .content .row .r1:nth-child(2) {
  margin: 0 100px;
}
.peoples .gradient .content .row .r1 .img {
  background: url("./Img/pp1.png");
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  transition: 0.2s all ease-in-out;
  border-radius: 130px;
}
.peoples .gradient .content .row .r1 .img2 {
  background: url("./Img/pp2.png");
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  transition: 0.2s all ease-in-out;
  border-radius: 130px;
}
.peoples .gradient .content .row .r1 .img3 {
  background: url("./Img/pp3.png");
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  transition: 0.2s all ease-in-out;
  border-radius: 130px;
}
.peoples .gradient .content .row .r1 .img:hover {
  background: url("./Img/pp1.png"), rgba(0, 0, 0, 0.5);

  background-blend-mode: darken;
}
.peoples .gradient .content .row .r1 .img2:hover {
  background: url("./Img/pp2.png"), rgba(0, 0, 0, 0.5);

  background-blend-mode: darken;
}
.peoples .gradient .content .row .r1 .img3:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Img/pp3.png");
  background-blend-mode: darken;
}

.peoples .gradient .content .row .r1 p {
  width: auto;
  color: white;
  margin: 20px 0;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 13px;
}
.peoples .gradient .content .row .r1 .socialicons {
}
.peoples .gradient .content .row .r1 .socialicons img {
  margin-right: 14px;
}
.peoples .gradient .content .row .r1 .socialicons img:nth-child(4) {
  margin-right: 0;
}

/* ----------------PEOPLES SECTION ENDS--------------- */

/* ----------------INDUSTRIES SECTION STARTS---------- */
.industries {
  background: url("./Img/curvebackground.png");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 767px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 129px;
}
.industries h3 {
  font-size: 60px;
  margin-bottom: 20px;
  text-align: center;
}
.industries p {
  font-size: 20px;
  opacity: 0.8;
  width: 720px;
  line-height: 35px;
  text-align: center;
}

.industries .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47.5px;
  width: 90%;
  flex-wrap: wrap;
}
.industries .cards .card .img {
  background-color: #0ea1ef26;
  width: 80px;
  height: 80px;
  background: #0ea1ef26;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.industries .cards .card {
  width: 300px;
  height: 170px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 17.5px;
  padding: 23px 0;
}
.industries .cards .lh {
  padding: 16px 0;
}
.industries .cards .lh p {
  line-height: 35px;
}
.industries .cards .card p {
  width: auto;
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
  line-height: 25px;
}
.industries .curves {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* -----------------INDUSTRIES SECTION ENDS--------------------- */

/* ------------------CNTACT SECTION STARTS----------------- */
.contact {
  background: url("./Img/Contact/gradient.png");
  position: relative;
  top: -82px;
  margin-bottom: -82px;
  height: 1088px;
}

.contact .row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 80px;
}
.contact .row .r1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: 279px;
  margin-left: 140px;
}
.contact .row .r1 h3 {
  font-size: 60px;
  color: white;
  font-weight: 800;
}
.contact .row .r1 p {
  font-size: 20px;
  color: white;
  width: 720px;
  line-height: 35px;
  margin-top: 20px;
  margin-bottom: 57px;
}
.contact .row .r1 form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.contact .row .r1 form button {
  width: 147px;
  height: 45px;
  font-size: 16px;
  background: white;
  color: #0ea1ef;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 20px 0;
}
.contact .row .r1 form .inputrow {
  display: flex;
}
.contact .row .r1 form .inputrow .input {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.contact .row .r1 form .inputrow .input p img {
  margin-right: 10px;
}
.contact .row .r1 form .inputrow .input p {
  margin-top: 20px;
  margin-bottom: 0;
  color: white;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.contact .row .r1 form .inputrow .input input {
  width: 366px;
  height: 44px;
  border: 0;
  border-bottom: 1px dashed #ffffff94;
  margin-right: 40px;
  background: transparent;
  color: white;
  outline: none;
  margin-bottom: 13px;
  font-size: 14px;
}

.contact .row .r1 form .inputrow .Wlong input {
  width: 772px;
}
.contact .row .r1 form .inputrow .Wlong textarea {
  width: 772px;
  height: 121px;
  border: 0;
  border-bottom: 1px dashed #ffffff94;
  margin-right: 40px;
  margin-top: 10px;
  color: white;
  background: transparent;
  outline: 0;
  font-size: 14px;
  margin-bottom: 23px;
}
.contact .row .r2 {
  margin-top: 428px;
  margin-right: 159px;
}
.contact .row .r2 h3 {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 30px;
}
.contact .row .r1 .location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.contact .row .r1 .location .icon {
  width: 43px;
  height: 43px;
  border-radius: 40px;
  background: white;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .row .r1 .location p {
  font-size: 17px;
  margin: 0;
  margin-left: 13px;
  width: 424px;
  line-height: 30px;
}

footer {
  color: white;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 574px;
}
footer .row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  height: 485px;
}
footer .row .r1:nth-child(1) {
  box-sizing: border-box;
  margin-left: 140px;
  margin-top: 67.5px;
}
footer .row .r1:nth-child(2) {
  box-sizing: border-box;
  margin-top: 70.5px;
  margin-left: 39px;
}
footer .row .r1:nth-child(3) {
  margin-top: 70.5px;
  margin-left: 166px;
}
footer .row .r1:nth-child(4) {
  margin-top: 70.5px;
  margin-left: 161px;
}
footer .row .r1:nth-child(5) {
  margin-top: 101px;
  margin-left: 120px;
}
footer .row .r1 img {
  margin-bottom: 35px;
  position: relative;
  left: 3px;
}
footer .row .r1 .innerRow {
  display: flex;
  padding-bottom: 32px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 8px;
}

footer .row .r1 .innerRow img {
  margin-bottom: 0;
}

footer .row .r1 .input {
  width: 375px;
  height: 65px;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 0;
  left: 0;
}
footer .row .r1 .input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  font-size: 14px;
  color: white;
  padding-left: 15px;
  outline: none;
}
footer .row .r1 .input .icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(125.28deg, #0ea1ef 0%, #064bca 100%);
  margin-right: 9px;
  border-radius: 4px;
}
footer .row .r1 .icons {
  margin-top: 19px;
  padding-bottom: 44px;
}
footer .row .r1 .icons img {
  display: flex;
  /* width: 10px; */
  margin-right: 21px;
}
footer .row .r1:nth-child(1) p {
  font-size: 20px;
  margin-bottom: 20px;
}
footer .row .r1 ul {
}
footer .row .r1 ul li {
  margin-bottom: 22px;
  font-size: 20px;
  list-style: none;
}

footer .row .r1 ul li::before {
  content: "•";
  border-radius: 50px;
  font-size: 18px;
}
footer .row .r1 ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 35px;
  margin-left: 5px;
  font-size: 18px;
}
footer .row .r1 .innerRow p {
  margin-left: 15px;
  margin-bottom: 0;
  font-size: 17px;
}
footer .row .r1 .listHeading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 35px;
}
footer .bottom {
  border-top: 1px solid #ffffff52;
  height: 90px;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  font-size: 18px;
  line-height: 35px;
  opacity: 0.8;
  font-weight: 300;
  font-style: normal;
  width: 100%;
}
