@media screen and (max-width : 1300px) {
    html{
        font-size: 58%;
    }
}
@media screen and (max-width : 1200px) {
    html{
        font-size: 52.5%;
    }
}
@media screen and (max-width : 1100px) {
    html{
        font-size: 47%;
    }
}
@media screen and (max-width : 990px) {
    html{
        font-size: 41.5%;
    }
}
@media screen and (max-width : 860px) {
    html{
        font-size: 36%;
    }
}
@media screen and (max-width : 730px) {
    html{
        font-size: 28%;
    }
}
@media screen and (max-width : 600px) {
    html{
        font-size: 22%;
    }
}
@media screen and (max-width : 470px) {
    html{
        font-size: 18%;
    }
}

@media screen and (max-width : 390px) {
    html{
        font-size: 62.5%;
    }
}