@media screen and (max-width : 1300px) {
    html{
        font-size: 58%;
    }
}
@media screen and (max-width : 1200px) {
    html{
        font-size: 52.5%;
    }
}
@media screen and (max-width : 1100px) {
    html{
        font-size: 47%;
    }
}
@media screen and (max-width : 990px) {
    html{
        font-size: 41.5%;
    }
}
@media screen and (max-width : 860px) {
    html{
        font-size: 36%;
    }
}